.using{
    flex-direction: column;
    position: relative;
    width: 25%;
    padding-left: 12px;
    margin: 32px 0px;
    z-index: 1;
    justify-content: center;

    &__wrapper{
        flex-direction: column;
        align-items: flex-start;

        &__mobile{
            flex-direction: column;
            margin-left: 0px;
        }
        
        &_icon{
            width: 48px;
            height: 48px;
        }

        &_title{
            margin-top: 32px;
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            color: #E0E0E0;
        }

        &_descr{
            margin-top: 12px;
            width: 230px;
            font-size: 16px;
            color: #A0A0A0;
            width: 180px;
        }
    }
}

.using::after{
    content: '';
    position: absolute;
    right: 0%;
    top: 50%;
    width: 1px;
    height: 150px;
    transform: translateY(-50%);
    background-color: #202020;
}

@media only screen and (max-width: 1240px) {
    .using{
        width: 50%;

        &_icon{
            width: 44px;
            height: 44px;
        }
    }
}   

@media only screen and (max-width: 920px) {
    .using{

        &__wrapper{

            &_descr{
                width: 80%;
            }
        }
    }
}

@media only screen and (max-width: 745px) {
    .using{
        width: 100%;
        padding-left: 0px;
        margin: 24px 0px;

        &__wrapper{

            flex-direction: row;
            align-items: center;

            &__mobile{
                flex-direction: column;
                margin-left: 20px;
            }

            &_icon{
                width: 32px;
                height: 32px;
            }

            &_title{
                margin-top: 0px;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                color: #E0E0E0;
            }

            &_descr{
                margin-top: 8px;
                width: 100%;
                font-size: 14px;
                color: #A0A0A0;
            }
        }
    }
    .using::before{
        content: '';
        position: absolute;
        bottom: -24px;
        width: 100%;
        height: 1px;
        // background-color: rgba(150, 150, 150, 0);
        background: linear-gradient(180deg, rgba(150, 150, 150, 0), rgba(82, 82, 82, 1));
        backdrop-filter: blur(40px);
    }
    .using::after{
        width: 0px;
        height: 0px;
    }
    .using:nth-child(odd){
        padding-left: 0px;
    }

}