.mainPage{
    margin-top: 32px;

    &__wrapper{

        align-items: center;
        justify-content: space-between;
        position: relative;

        &__mainText{
            flex-direction: column;

            &_label{
                width: fit-content;
                background-color: #2E281C;
                padding: 8px 12px;
                border-radius: 8px;
                font-size: 16px;
                color: #FFCA62;
                line-height: 24px;
                // width: 161px;
            }

            &_h1{
                margin: 20px 0px 0px 0px;
                font-size: 52px;
                font-weight: 900;
                line-height: 79px;

                span{
                    color: #FFCA62;
                }
            }

            &_descr{
                margin-top: 20px;
                color: #A0A0A0;
                font-size: 16px;
                line-height: 20px;
            }

            &__buttons{
                margin-top: 54px;

                &_ios{
                    cursor: pointer;
                }

                &_android{
                    margin-left: 24px;
                    cursor: pointer;
                }
            }
        }

        &_icon{
            width: 592px;
            height: 672px;
            display: flex;
        }

        &_blur1{
            position: absolute;
            width: 302px;
            height: 302px;
            background: #FFCA62;
            filter: blur(200px);
            -webkit-filter: blur(200px);
            -moz-filter: blur(200px);
            -ms-filter: blur(200px);
            transform: translate3d(0, 0, 0);
            right: 180px;
            top: 215px;
            z-index: -1;
        }

        &_blur2{
            position: absolute;
            width: 420px;
            height: 420px;
            background: #FFCA62;
            filter: blur(150px);
            -webkit-filter: blur(150px);
            -moz-filter: blur(150px);
            -ms-filter: blur(150px);
            transform: translate3d(0, 0, 0);
            right: 209px;
            top: 76px;
            z-index: -1;
        }

        &_blur3{
            position: absolute;
            width: 200px;
            height: 200px;
            background: #A0A0A0;
            filter: blur(200px);
            -webkit-filter: blur(200px);
            -moz-filter: blur(200px);
            -ms-filter: blur(200px);
            transform: translate3d(0, 0, 0);
            right: 255px;
            top: 109px;
            z-index: -1;
        }

        &_blur4{
            position: absolute;
            width: 333px;
            height: 333px;
            background: #A0A0A0;
            filter: blur(200px);
            -webkit-filter: blur(200px);
            -moz-filter: blur(200px);
            -ms-filter: blur(200px);
            transform: translate3d(0, 0, 0);
            right: 189px;
            top: 309px;
            z-index: -1;
        }

        &_blur5{
            position: absolute;
            width: 200px;
            height: 200px;
            background: #FFFFFF;
            filter: blur(200px);
            -webkit-filter: blur(200px);
            -moz-filter: blur(200px);
            -ms-filter: blur(200px);
            transform: translate3d(0, 0, 0);
            right: -28px;
            top: 400px;
            z-index: -1;
        }

        &_blur6{
            position: absolute;
            width: 200px;
            height: 200px;
            background: #A0A0A0;
            filter: blur(200px);
            -webkit-filter: blur(200px);
            -moz-filter: blur(200px);
            -ms-filter: blur(200px);
            transform: translate3d(0, 0, 0);
            right: -91px;
            top: 400px;
            z-index: -1;
        }

        &_blur7{
            position: absolute;
            width: 230px;
            height: 230px;
            background: #FFFFFF;
            filter: blur(200px);
            -webkit-filter: blur(200px);
            -moz-filter: blur(200px);
            -ms-filter: blur(200px);
            transform: translate3d(0, 0, 0);
            left: 57px;
            top: 471px;
            z-index: -1;
        }
    }
}

@media only screen and (max-width: 1240px) {
    .mainPage{
        margin-top: 0px;

        &__wrapper{
    
            &__mainText{
    
                &_label{
                    font-size: 14px;
                    // width: 144px;
                }

                &_h1{
                    font-size: 32px;
                    font-weight: 800;
                    line-height: 44px;
    
                    span{
                        color: #E0E0E0;
                    }
                }

                &_descr{
                    margin-top: 16px;
                    font-size: 16px;
                }
            }

            &_icon{
                width: 45%;
                height: 100%;
                display: flex;
            }

            &_blur1{
                width: 170px;
                height: 170px;
                background: #FFCA62;
                filter: blur(200px);
                right: 97px;
                top: 110px;
            }

            &_blur2{
                width: 400px;
                height: 400px;
                background: #FFCA62;
                filter: blur(200px);
                right: -10%;
                top: -19px;
            }
            &_blur3{
                width: 150px;
                height: 150px;
                background: #FFCA62;
                filter: blur(200px);
                right: 0%;
                bottom: 65px;
            }

            &_blur4, &_blur5, &_blur6{
                width: 0px;
                height: 0px;
            }

            &_blur7{
                width: 170px;
                height: 170px;
                background: #FFFFFF;
                filter: blur(200px);
                left: 57px;
                bottom: -5%;
            }
        }
    }
}

@media only screen and (max-width: 745px) {
    .mainPage{

        &__wrapper{
    
            &__mainText{

                &_h1{
                    font-size: 32px;
                    font-weight: 800;
                    line-height: 44px;
    
                    span{
                        color: #FFCA62;
                    }
                }

                &_descr{
                    margin-top: 12px;
                    font-size: 14px;
                }

                &__buttons{
                    margin-top: 32px;
    
                    &_ios{
                        cursor: pointer;
                    }
    
                    &_android{
                        margin-left: 20px;
                        cursor: pointer;
                    }
                }
            }

            &_icon{
                display: none;
            }

            &_blur1{
                width: 200px;
                height: 200px;
                background: #FFCA62;
                filter: blur(200px);
                right: -5%;
                top: 110px;
            }

            &_blur2{
                width: 230px;
                height: 230px;
                background: #FFCA62;
                filter: blur(200px);
                right: 90%;
                top: 274px;
            }
            &_blur3{
                width: 150px;
                height: 150px;
                background: #FFFFFF;
                filter: blur(200px);
                right: 50%;
                bottom: 0%;
                transform: rotate(-50%, 0%);
            }

            &_blur4, &_blur5, &_blur6{
                width: 0px;
                height: 0px;
            }

            &_blur7{
                width: 170px;
                height: 170px;
                background: #FFFFFF;
                filter: blur(200px);
                left: 57px;
                bottom: -5%;
            }
        }
    }
}