.access{
    margin-top: 230px;

    &__wrapper{

        position: relative;
        align-items:center;

        &_icon{
            width: 484px;
            height: 484px;
        }
    
        &__block{
            flex-direction: column;
            margin-left: 140px;

            &_title{
                font-weight: 800;
                font-size: 44px;
                color: #E0E0E0;
                margin: 0px;
                line-height: 64px;
            }

            &_descr{
                margin-top: 18px;
                color: #A0A0A0;
                font-size: 16px;
            }

            &__inputForm{
                position: relative;
                width: 100%;
                margin-top: 54px;

                &_input{
                    width: 100%;
                    height: 56px;
                    border-radius: 30px;
                    color: #A0A0A0;
                    background-color: rgba(53, 48, 39, 0);
                    border: solid 1px #A0A0A0;
                    padding-left: 24px;
                }

                &_button{
                    position: absolute;
                    right: 0;
                    height: 60px;
                    border-radius: 30px;
                    border: solid 1px #FFCA62;
                    background-color: #FFCA62;
                    color: #1E1E1E;
                    width: 240px;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: .5s all;

                    &_img{
                        width: 24px;
                        height: 24px;
                    }

                    &_text{
                        font-size: 16px;
                        letter-spacing: .2px;
                        font-weight: 800;
                        margin-left: 8px;
                    }

                }

                &_button:hover{
                    box-shadow: 0px 1px 12px rgba(255, 255, 255, 0.32), 0px 1px 40px rgba(255, 213, 128, 0.32);
                    transform: translate3d(0, 0, 0);
                }
            }
        }

        &_blur1{
            position: absolute;
            width: 200px;
            height: 200px;
            top: 520px;
            right: 48px;
            background: #A0A0A0;
            filter: blur(200px);
            -webkit-filter: blur(200px);
            -moz-filter: blur(200px);
            -ms-filter: blur(200px);
            transform: translate3d(0, 0, 0);
        }

        &_blur2{
            position: absolute;
            width: 600px;
            height: 600px;
            top: 230px;
            left: -128px;
            background: #FFCA62;
            filter: blur(200px);
            -webkit-filter: blur(200px);
            -moz-filter: blur(200px);
            -ms-filter: blur(200px);
            transform: translate3d(0, 0, 0);
            z-index: -1;
        }

        &_blur3{
            position: absolute;
            width: 333px;
            height: 333px;
            top: 274px;
            left: -215px;
            background: #A0A0A0;
            filter: blur(300px);
            -webkit-filter: blur(300px);
            -moz-filter: blur(300px);
            -ms-filter: blur(300px);
            transform: translate3d(0, 0, 0);
        }

        &_blur4{
            position: absolute;
            width: 395px;
            height: 395px;
            top: 118px;
            left: -213px;
            background: #A0A0A0;
            filter: blur(250px);
            -webkit-filter: blur(250px);
            -moz-filter: blur(250px);
            -ms-filter: blur(250px);
            transform: translate3d(0, 0, 0);
            z-index: -1;
        }

        &_blur5{
            position: absolute;
            width: 200px;
            height: 200px;
            top: 310px;
            left: 287px;
            background: #A0A0A0;
            filter: blur(250px);
            -webkit-filter: blur(250px);
            -moz-filter: blur(250px);
            -ms-filter: blur(250px);
            transform: translate3d(0, 0, 0);
            z-index: -1;
        }
        
    }
}

input:focus, textarea:focus, select:focus{
    outline: none;
}
