.App{
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.rec.rec-arrow {
  display: none;
}

.rec-dot_active{
    width: 100px;
}

button.rec-dot{
  background-color: #6C6C6C;
  box-shadow: none
}

button.rec-dot_active{
  background-color: white;
  box-shadow: none
}

.noize{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}